.cat-box{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.light-theme{
    --bg-color: white;
    --text-color: #0f0f0f;
}
  
.dark-theme{
    --bg-color: #0f0f0f;
    --text-color:  white;
}

.up-nav{
    background-color: var(--bg-color);
    color: var(--text-color);
}